.clearfix:before,.clearfix:after{content:'\0020';display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:after{clear:both}.clearfix{zoom:1}
.clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }

#controls-left { 
    position: absolute; 
    top: 0;
    left: 0; 
    height: 18px; 
	z-index: 99999;
}
    #controls-left a {
        display: block;
        float: left;
        width: 26px;
        height: 18px;
        cursor: pointer;
        background-color: rgba(39,39,39,1); 
        -webkit-transform: translateY(0px);
        -webkit-transition-property: background-color, -webkit-transform;
        -webkit-transition-duration: 300ms, 150ms;
        -webkit-transition-timing-function: linear, ease-in;
    }
    #controls-left a span {
        margin-top: -5px;
        margin-left: -5px;
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: 11px;
        height: 11px;
        background: #fff;
    }
    #controls-left a#fullscreen-go span {
        -webkit-mask-image: url(../img/enter-fs-mask.png);
        -webkit-mask-repeat: no-repeat;
    }
    #controls-left a#fullscreen-exit span {
        -webkit-mask-image: url(../img/exit-fs-mask.png);
        -webkit-mask-repeat: no-repeat;
    }
#controls-left a:hover { background-color: rgba(164,112,13,1); }
#controls-left a#fullscreen-go, #controls-left a#fullscreen-exit { display: none; border-bottom-right-radius: 3px; }
#controls-left._fsenabled a#fullscreen-go { display: block; }
#controls-left a.bubble-active-gofullscreen,
#controls-left a.bubble-active-exitfullscreen,
#controls-left a.bubble-active-exitfullscreen2 {
    /*background-color: rgba(164,112,13,0.5);*/
}
#controls-left a.bubble-active-gofullscreen:hover,
#controls-left a.bubble-active-exitfullscreen:hover {
    background-color: rgba(164,112,13,1);
}
:-webkit-full-screen #controls-left._fsexitenabled a#fullscreen-exit {
    -webkit-transform: translateY(-21px);
}
:-webkit-full-screen #controls-left._fsexitenabled:hover a#fullscreen-exit {
    -webkit-transform: translateY(0px);
}

#controls-right { 
    position: absolute; 
    top: 0;
    right: 0; 
    height: 18px; 
	z-index: 99999; 
}
#controls-right a:first-child { border-bottom-left-radius: 3px; }
#controls-right a {
	display: block;
	float: left;
	width: 21px;
	height: 18px;
	cursor: pointer;
    background-color: #272727;
    -webkit-transition: background-color 0.3s linear;
}
    #controls-right a#minimize {
    	display: block;
    	float: left;
    	width: 21px;
    	height: 16px;
    	cursor: pointer;
    	border-bottom-left-radius: 3px;
    	background: #393939 url(../img/minimize.png) 0px 1px no-repeat;
    	-webkit-transition: background-color 0.3s linear;
    }
    #controls-right a#minimize:active {
    	background-position: 0px 2px;
    }
#controls-right a:hover { background-color: #A4700D; }


/* Hide non-fullscreen elements */
:-webkit-full-screen .nonfs { display: none !important; }
.forfs { display: none !important; }
:-webkit-full-screen .forfs { display: block !important; }