.no-items {
	padding-top: 90px;
	padding-left: 5px;
	line-height: 18px;
	text-align: center;
	}
.no-items img {
	margin: 10px auto 15px;
	display: block;
	}
.no-items strong { }
.no-items.news_feed {
	padding-top: 90px;
	}
.no-items.friend_requests {
	}
.no-items.messages,
.no-items.notifications,
.no-items.events {
	padding-top: 115px;
	}


.user_thumb {
	margin-right: 8px;
	width: 50px;
	height: 50px;
	float: left;
	background: #F7F7F7 url(../img/loading.gif) no-repeat center center;
	border-radius: 5px;
	}
.animate .user_thumb {
	-webkit-transform: skew(0deg);
	-webkit-animation-name: user_thumb;
	-webkit-animation-duration: 300ms;
	-webkit-animation-iteration-count: 1;
	}
.user_thumb img {
	margin: auto;
	display: block;
	width: 50px;
	height: 50px;
	border-radius: 5px;
	}



/* NEWS FEED 532px -----*/
#status_updater {
	padding: 15px;
	min-height: 22px;
	-webkit-animation-name: fadeIn;
	-webkit-animation-duration: 270ms;
	-webkit-animation-iteration-count: 1;
	-webkit-transition: min-height 200ms ease-out;
	border-bottom: 1px solid rgb(235,235,235);
	}
#status_updater .textarea_wrap {
	padding: 4px;
	background: #fff;
	border: 1px solid #B4BBCD;
	overflow: hidden;
	border-radius: 3px;
	}
#status_updater textarea {
	margin: 0;
	padding: 0;
	display: block;
	font-size: 12px;
	line-height: 14px;
	overflow: hidden;
	height: 15px;
	border: 0;
	background: 0;
	width: 440px;
	}
					#status_updater button {
						padding: 2px 10px;
						height: 22px;
						float: right;
						display: none;
						}
					#status_updater .user_thumb {
						display: none;
						opacity: 0;
					}
					#status_updater.open {
						min-height: 50px;
					}
					#status_updater.open .user_thumb {
						display: block;
						opacity: 1;
						-webkit-animation-name: status_delay;
						-webkit-animation-duration: 500ms;
						-webkit-animation-iteration-count: 1;
					}
#status_updater.open .textarea_wrap {
	margin-bottom: 5px;
	float: left;
	}
#status_updater.open textarea {
	width: 382px;
	}
					#status_updater.open button {
						display: block;
						-webkit-animation-name: status_delay;
						-webkit-animation-duration: 500ms;
						-webkit-animation-iteration-count: 1;
					}

.nfList {
	}
.nfList li.nf {
	margin: 0;
	padding: 15px;
	opacity: 1;
	border-bottom: 1px solid rgba(0,0,0,0.08);
	-webkit-transition: background 100ms ease-in;
	}
.nfList.animate li.nf {
	-webkit-animation-name: li_newsfeed;
	-webkit-animation-duration: 250ms;
	-webkit-animation-iteration-count: 1;
	}

.nfList li.nf.new .user_thumb {
	-webkit-animation: none;
	-webkit-transform: none;
	}
.nfList img {
	display: block;
	}
.nfList .nf_content {
	padding-left: 2px;
	margin-left: 60px;
	}
.nfList .user_name {
	padding-right: 3px;
	padding-bottom: 3px;
	}
.nfList .user_name a {
	font-weight: bold;
	}
.nfList .i-to {
	margin: 0 5px;
	display: inline-block;
	}
.nfList .message {
	margin-bottom: 5px;
	line-height: 14px;
	color: #000;
	}
.nfList .date {
	color: #999;
	vertical-align: middle;
	}
.nfList .date img {
	padding-right: 2px;
	vertical-align: top;
	display: inline;
	}
.nfList .date .act {
	cursor: pointer;
	color: #3B5998;
	text-align: center;
	}
.nfList .date .time {
	color: #999;
	}
.nfList .date .time:hover {
	color: #3B5998;
	}
.nfList .story_owner {
	font-weight: bold;
	margin-right: 2px;
	}
.nfList .pictures {
	overflow: hidden;
	margin-bottom: 5px;
	}
.nfList .pictures a {
	float: left;
	display: block;
	margin: 0 2px 2px 0;
	}
.nfList .pictures a img {
	display: block;
	border-radius: 3px;
	width: 32px;
	height: 32px;
	}
.nfList .attachment {
	overflow: hidden;
	margin-bottom: 5px;
	}
.nfList .attachment.clearfix {
	overflow: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	}
.nfList .attachment.clearfix .attachment_content {
	color: #999;
	overflow: hidden;
	padding: 1px 0 0 5px;
	}
.nfList .attachment.clearfix .description {
	margin-top: 5px;
	}
.nfList .attachment dt {
	margin-right: 5px;
	float: left;
	}
.nfList .date .act {
	margin-left: -5px;
	padding: 0px 5px;
	display: inline-block;
	}
.nfList .nf_content a:hover,
.nfList .date .act:hover {
	color: #6684D3;
	}
.nfList .nf_content a:active,
.nfList .date .act:active {
	color: #444;
	}
.nfList .nf_content.story .user_name {
	display: none;
	}
.nfList .nf_content.story .comments .user_name {
	display: inline;
	}
.nfList .bling {
	margin: 0;
	padding: 1px 3px 2px 0;
	display: inline-block;
	line-height: 13px;
	border-bottom: 1px solid #fff;
	-webkit-transition: all 200ms ease-out;
	}
.nfList .bling:hover {
	background-color: #EDEFF4;
	border-bottom-color: #E5EAF1;
	}
.nfList .bling .i {
	margin: 0 2px 0 5px;
	display: inline-block;
	}
.nfList .bling.disabled {
	display: none;
	}

.nfList .nf_content .comments a {
	border-bottom: 0;
	}
	
.nfList li.nf_type_status {}
.nfList li.nf_type_status .attachment {
	font-size: 11px;
	padding-left: 10px; 
	border-left: 2px solid #ccc;
	color: gray;
	}

.nfList li.nf_type_link .attachment.nomedia {
	padding-left: 10px;
	border-left: 2px solid #ccc;
	}
.nfList li.nf_type_link .attachment .link_picture {
	padding-right: 5px;
	float: left;
	}
.nfList li.nf_type_link .attachment .link_name {
	font-weight: bold;
	}
		
.nfList li.nf_type_video {}
.nfList li.nf_type_video .attachment .video_picture {
	padding-right: 5px;
	float: left;
	}
.nfList li.nf_type_video .attachment .video_name {
	font-weight: bold;
	}
	
.nfList li.nf_type_photo {}
.nfList li.nf_type_photo .attachment .photo_picture {
	float: left;
	padding: 3px;
	margin: 0 5px 0 0;
	border: 1px solid #CCC;
	}
.nfList li.nf_type_photo .attachment .photo_name {
	font-weight: bold;
	}


.nfList li.nomedia .attachment {
	padding-left: 10px;
	border-left: 2px solid #ccc;
	}
.nfList li.nomedia .photo_picture,
.nfList li.nomedia .link_picture {
	display: none;
	}	
.nfList li.noattachment .attachment {
	display: none;
	}
	
/* COMMENTS -----*/
.comments {
	list-style: none;
	border-bottom: 1px solid rgba(255,255,255,0.8);
	}
.comments li {
	padding: 5px 5px 4px;
	border-bottom: 1px solid rgb(210,217,231);
	border-top: 1px solid rgb(255,255,255);
	background: rgb(237,239,244);
	
	-webkit-animation-name: fadeIn;
	-webkit-animation-duration: 300ms;
	-webkit-animation-iteration-count: 1;
	}
.comments li:nth-child(2) {
	border-radius: 5px 5px 0 0;
	}
.comments li:last-child {
	border-radius: 0 0 5px 5px;
	}
.comment_nub .i-nub {
	width: 9px;
	height: 5px;
	background: transparent url(../img/nub.png) no-repeat bottom center;
	}
	.comments li.view_all { padding: 6px 5px 5px; cursor: pointer; color: #3B5998; }
	.comments li.view_all .i, .comments li.likes_count .i { margin-right: 5px; display: inline-block; }
	.comments li.comment_nub { margin-top: 0; margin-bottom: -2px; padding: 0; line-height: 2px; border-bottom: 0; background: 0; }
	.comments li.comment_nub .i { margin-left: 17px; display: inline-block; }
	.comments li.form { }
	.comments .user_thumb, .comments .user_thumb img, .nfList .nf_content .comments a.user_thumb {
		margin: 0;
		padding: 0; border: 0;
		width: 32px; height: 32px; 
		-webkit-transform: none;
		-webkit-animation-name: fadeIn;
	}
.comments .user_thumb,
.nf_content .comments a.user_thumb {
	margin-right: 6px !important;
	border-radius: 3px;
	}
.comments .user_thumb img,
.nf_content .comments a.user_thumb img {
	border-radius: 3px;
	}
	
	
	.comments a.user_name { font-weight: bold; }
	.comments .comment_content { padding-top: 1px; overflow: hidden; }
.comments .comment_content .message {
	margin-bottom: 0;
	font-size: 11px;
	line-height: 13px;
	color: rgb(90,95,105);
	}
	.comments .comment_content .date { padding-top: 2px; }
.comment_form {
	min-height: 22px;
	-webkit-animation-name: fadeIn;
	-webkit-animation-duration: 250ms;
	-webkit-animation-iteration-count: 1;
	-webkit-transition: min-height 200ms ease-out;
}
.comment_form .textarea_wrap {
	padding: 3px;
	background: #fff;
	border: 1px solid #BDC7D8;
	overflow: hidden;
	border-radius: 3px;
	}
.comment_form textarea {
	margin: 0;
	padding: 0;
	display: block;
	line-height: 13px;
	overflow: hidden;
	width: 100%;
	height: 14px;
	border: 0;
	background: 0;
	font-size: 11px;
	-webkit-transition: all 100ms linear;
	}
	.comment_form .user_thumb {
		margin-right: 6px;
		display: none;
		opacity: 0;
		-webkit-transition: opacity 200ms ease-out;
	}
	.comment_form.open {
		min-height: 31px;
		-webkit-transition: min-height 200ms ease-in;
	}
	.comment_form.open .user_thumb {
		display: block;
		opacity: 1;
		-webkit-transition: opacity 200ms ease-in;
	}
	.comment_form span.error {
		font-size: 10px;
		color: #F33B14;
		-webkit-animation-name: fadeIn;
		-webkit-animation-duration: 250ms;
		-webkit-animation-iteration-count: 1;
		-webkit-transition: min-height 200ms ease-out;
	}

/* MESSAGES -----*/
.msList {

	}
.msList li,
.threadMsList li {
	margin: 0px;
	padding: 8px 15px;
	border-top: 1px solid rgb(255,255,255);
	border-bottom: 1px solid rgb(233,233,233);
	color: #808091;
	opacity: 1;	
	-webkit-transition: background 100ms ease-in;
	}
.msList li {
	cursor: pointer;
	}
.msList.animate li {
	-webkit-animation-name: li_messages;
	-webkit-animation-duration: 250ms;
	-webkit-animation-iteration-count: 1;
	}
.msList .user_name {
	display: block;
	margin-top: 10px;
	color: #3B5998;
	line-height: 15px;
	max-height: 15px;
	overflow: hidden;
	font-weight: bold;
	}
.threadMsList .user_thumb {
	background: none;
	margin-right: 10px;
	}
.threadMsList .user_name {
	display: inline-block;
	padding-bottom: 5px;
	font-weight: bold;
	}
.threadMsList .user_thumb:active {
	-webkit-box-shadow: 0px -1px 0px rgb(199,202,217);
	}
.threadMsList .user_name:hover {
	color: #6684D3;
	}
.threadMsList .user_name:active {
	color: #444;
	}
.msList .message_actions {
	float: right;
	width: 120px;
	min-height: 14px;
	padding: 18px 0 10px 0;
	text-align: right;
	}
.msList .status {
	display: inline-block;
	margin-left: 4px;
/*	width: 4px;
	height: 4px;
	border: solid 2px rgb(162,178,207); */
	width: 7px;
	height: 7px;
	border-radius: 10px;
	display: none;
	}
.msList .date,
.threadMsList .date {
	color: rgb(174,174,174);
	text-transform: lowercase;
	}
.threadMsList .date {
	display: block;
	float: right;
	}
.msList .message {
	line-height: 14px;
	height: 14px;
	overflow: hidden;
	color: rgb(134,134,134);
	-webkit-transition: all 150ms ease-in;
	text-overflow: ellipsis;
	white-space: nowrap;
	}
.threadMsList .message {
	margin-left: 60px;
	color: rgb(60,60,60);
	}
.msList li.unread,
.threadMsList li.unread {
	background-color: rgb(235,238,244);
	border-top-color: rgb(235,238,244);
	border-bottom-color: rgb(220,226,236);
	}
.msList.no_animate li.unread,
.threadMsList.no_animate li.unread {
	-webkit-animation-name: fadeIn;
	-webkit-animation-duration: 300ms;
	-webkit-animation-iteration-count: 1;
	}
.msList li.unread .message,
.threadMsList li.unread .message {
	font-weight: bold;
	color: rgb(111,134,181);
	}
.msList li.unread .status {
	background-color: rgb(162,178,207);
	}
.msList li.unread .date,
.threadMsList li.unread .date {
	color: rgb(111,134,181);
	}
.msList li:hover {
	background-color: rgb(239,242,247);
	border-top-color: rgb(255,255,255);
	border-bottom-color: rgba(149,152,167,0.4);
	}
.msList li:hover .message {
	color: rgb(40,40,40);
	}
.msList li:active,
.msList li:last-child:active {
	background-image: -webkit-linear-gradient(top, rgb(209,212,217), rgb(229,232,237) 2px, rgb(239,242,247));
	border-top-color: rgba(169,172,187,1);
	border-bottom-color: rgba(149,152,167,0.1);
	}
	
/*#thread_reply {
	width: 100%;
	border: 0;
	margin: 0;
	padding: 0;
	overflow: hidden;
	}
*/

	
/* NOTIFICATIONS -----*/
.ntList {

	}
.ntList li {
	margin: 0px;
	padding: 8px 15px;
	border-top: 1px solid rgb(255,255,255);
	border-bottom: 1px solid rgb(233,233,233);
	opacity: 1;
	cursor: pointer;		
	-webkit-transition: background 100ms ease-in;
	}
.ntList.animate li {
	-webkit-animation-name: li_notifications;
	-webkit-animation-duration: 250ms;
	-webkit-animation-iteration-count: 1;
	}
.ntList a {
	font-weight: bold;
	}
.ntList .notification_content {
	padding-top: 7px;
	overflow: hidden;
	color: rgb(134,134,134);
	}
.ntList .notif {
	padding-bottom: 4px;
	}
.ntList .date {
	color: rgb(160,160,160);
	}
.ntList .date img {
	padding-right: 3px;
	vertical-align: middle;
	}
.ntList .uiTooltipWrap {
	display: none;
	}
	
.ntList li.unread {
	background-color: rgb(235,238,244);
	border-top-color: rgb(235,238,244);
	border-bottom-color: rgb(220,226,236);
	}
.ntList.no_animate li.unread {
	-webkit-animation-name: fadeIn;
	-webkit-animation-duration: 300ms;
	-webkit-animation-iteration-count: 1;
	}
.ntList li.unread .notification_content {
	font-weight: bold;
	color: rgb(111,134,181);
	}
.ntList li.unread .date {
	font-weight: normal;
	}
.ntList li:hover {
	background-color: rgb(239,242,247);
	border-top-color: rgb(255,255,255);
	border-bottom-color: rgba(149,152,167,0.4);
	}
.ntList li:hover .notification_content {
	color: rgb(40,40,40);
	}
.ntList li:active,
.ntList li:last-child:active {
	background-image: -webkit-linear-gradient(top, rgb(189,192,197), rgb(219,222,227) 2px, rgb(229,232,237));
	border-top-color: rgba(149,152,167,1);
	border-bottom-color: rgba(149,152,167,0.1);
	}
	
	
/* @group Events */

.evList li {
	margin: 0px;
	padding: 8px 15px;
	border-top: 1px solid rgb(255,255,255);
	border-bottom: 1px solid rgb(233,233,233);
	opacity: 1;
	cursor: pointer;		
	color: rgb(134,134,134);
	-webkit-transition: background 100ms ease-in;
	}
.evList li:hover {
	background-color: rgb(239,242,247);
	border-top-color: rgb(255,255,255);
	border-bottom-color: rgba(149,152,167,0.4);
	color:  rgb(40,40,40);
	}
.evList li:active {
	background-image: -webkit-linear-gradient(top, rgb(189,192,197), rgb(219,222,227) 2px, rgb(229,232,237));
	border-top-color: rgba(149,152,167,1);
	border-bottom-color: rgba(149,152,167,0.1);
	}
.evList .status {
	float: right;
	width: 80px;
	color: rgb(160,160,160);
	min-height: 14px;
	padding: 18px 0 10px 0;
	text-align: right;	
	}
.evList .event_name {
	display: block;
	margin-top: 10px;
	color: #3B5998;
	line-height: 15px;
	max-height: 15px;
	overflow: hidden;
	font-weight: bold;
	}

.event_details {
	padding: 15px 0 0 15px;
	}
.event_side {
	float: left;
	width: 150px;
	}
.event_main {
	margin-left: 165px;
	color: #444;
	line-height: 1.3em;
	}
.event_details .event_image {
	border-radius: 6px;
	width: 150px;
	max-height: 210px;
	}
.event_details .event_name {
	font-size: 1.3em;
	color: #000;
	margin-bottom: 10px;
	}
.event_details .event_tag {
	color: #999;
	font-weight: normal;
	}
.event_details .event_meta {
	border: solid 1px #DDD;
	border-width: 1px 0;
	margin: 10px 0 0 0;
	padding: 6px 0;
	list-style: none;
	}
.event_details .event_meta li {
	position: relative;
	padding: 4px 0 4px 20px;
	}
.event_details .descriptions {
	position: relative;
	padding: 10px 10px 15px 20px;
	line-height: 1.6em;
	overflow-y: scroll;
	height: 200px;
	}
.event_details .descriptions::-webkit-scrollbar {
	width: 5px;
	height: 5px;
	}
.event_details .descriptions::-webkit-scrollbar-track:vertical {
	margin: 12px 0 12px 0;
	}
.event_details .descriptions::-webkit-scrollbar-thumb {
	width: 5px;
	}
.event_descriptions_wrapper {
	position: relative;
	}
.event_dscriptions_top {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 5px;
//	background: -webkit-linear-gradient(top, rgba(0,0,0,0.3) 1px, rgba(0,0,0,0.2) 30%, rgba(255,255,255,0));
	background: transparent url(../img/fadeout-top.png) no-repeat bottom center;
	}
.event_dscriptions_bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 15px;
	background: -webkit-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,1) 90%);
	}
	
.event_meta .icon,
.event_main .descriptions .icon {
	position: absolute;
	display: block;
	width: 10px;
	height: 10px;
	top: 6px;
	left: 0;
	background-image: url(../img/icons-event.png);
	background-repeat: no-repeat;
	opacity: 0.5;
	vertical-align: middle;
	}
.event_meta .date .icon {
	background-position: 0 0;
	}
.event_meta .time .icon {
	background-position: 0 -15px;
	}
.event_meta .location .icon {
	background-position: 0 -30px;
	}
.event_meta .location .address {
	display: block;
	padding-top: 3px;
	color: #999;
	}
.event_main .descriptions .icon {
	position: fixed;
	top: auto;
	left: auto;
	margin-top: 5px;
	margin-left: -20px;
	background-position: 0 -45px;
	}
	
.event_invitees_menu.animate {
	-webkit-transition: all 300ms ease-in;
	}
.event_invitees_menu.animate li {
	-webkit-transition-property: height, background;	
	-webkit-transition-duration: 250ms, 100ms;
	-webkit-transition-timing-function: ease-in;
	}
.event_invitees_menu ul {
	position: static;
	overflow: hidden;
	border-radius: 6px;
//	border: 1px solid rgb(233,233,233);
	background-clip: padding-box;	
	border: 1px solid rgb(233,233,233);
	margin-top: 15px;
	text-shadow: 0px 1px 0px #FFF;
	}
.event_invitees_menu li {
	overflow: hidden;
	margin: 0;
	height: 25px;
	line-height: 25px;
	padding-left: 10px;
	border-top: 1px solid rgb(255,255,255);
	border-bottom: 1px solid rgb(233,233,233);
	-webkit-transition: background 100ms ease-in;
	cursor: pointer;
	text-overflow: ellipsis;
	color: #777;
	}
.event_invitees_menu li:last-child {
	border-bottom-color: #FFF;
	}
.event_invitees_menu li:hover,
.event_invitees_menu li:last-child:hover {
	background-color: rgb(239,242,247);
	border-top-color: rgb(255,255,255);
	border-bottom-color: rgba(149,152,167,0.4);
	color: #333;
	}
.event_invitees_menu li:active,
.event_invitees_menu li:last-child:active {
	background-image: -webkit-linear-gradient(top, rgb(209,212,217), rgb(229,232,237) 2px, rgb(239,242,247));
	border-top-color: rgba(169,172,187,1);
	border-bottom-color: rgba(149,152,167,0.1);
	}
.event_invitees_menu li.selected,
.event_invitees_menu li.selected:hover {
	background-image: -webkit-linear-gradient(top, rgb(189,192,197), rgb(219,222,227) 2px, rgb(229,232,237));
	border-top-color: rgba(149,152,167,1);
	border-bottom-color: rgba(149,152,167,0.1);	
	color: #333;
	}
.event_invitees_menu.hide {
	display: block;
	opacity: 0;
	}
.event_invitees_menu.hide ul,
.event_invitees_menu.hide li {
	height: 0;	
	}




.event_invitees_wrapper {
	position: static;
	overflow: hidden;
	border-radius: 6px;
	margin-top: 15px;
	border: 1px solid rgb(233,233,233);
	background-clip: padding-box;
	-webkit-transition: all 200ms ease-in;
	}
.event_invitees {
	position: static;
	overflow: hidden;
	border-radius: 6px;
//	border: 1px solid rgb(233,233,233);
	background-clip: padding-box;
	}
.event_invitees_wrapper.animate {
	opacity: 0;
	}
.event_invitees li {
	overflow: hidden;
	margin: 0;
	height: 40px;
	border-top: 1px solid rgb(255,255,255);
	border-bottom: 1px solid rgb(233,233,233);
	-webkit-transition-property: height, background;	
	-webkit-transition-duration: 250ms, 100ms;
	-webkit-transition-timing-function: ease-in;
	cursor: pointer;
	text-overflow: ellipsis;
	}
.event_invitees li a {
	display: block;
	padding: 5px;
	height: 30px;
	}
.event_invitees_wrapper.animate .event_invitees li,
.event_invitees_wrapper.animate .event_invitees li a {
	height: 0px;
	padding: 0px 5px;
	border: 0;
	opacity: 0;
	} 
.event_invitees li:hover,
.event_invitees li:last-child:hover {
	background-color: rgb(239,242,247);
	border-top-color: rgb(255,255,255);
	border-bottom-color: rgba(149,152,167,0.4);
	color: #666;
	}
.event_invitees li:active,
.event_invitees li:last-child:active {
	background-image: -webkit-linear-gradient(top, rgb(209,212,217), rgb(229,232,237) 2px, rgb(239,242,247));
	border-top-color: rgba(169,172,187,1);
	border-bottom-color: rgba(149,152,167,0.1);
	}
	
.event_invitees .item_thumb {
	float: left;
	margin-right: 8px;
	background: transparent url(../img/avatar_30.png) no-repeat center center;
	}
.event_invitees .item_thumb,
.event_invitees .item_thumb img {
	height: 30px;
	width: 30px;
	border-radius: 3px;
	}
.event_invitees .item_name {
	display: block;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	white-space: nowrap;
	color: #3B5998;
	text-overflow: ellipsis;
	}
.event_invitees .inviteesHeading {
	position: static;
	overflow: hidden;
	background: #F2F2F2;
	border-bottom: solid 1px #E2E2E2;
	border-top: solid 1px #FFF;
	font-weight: bold;
	height: 24px;
	line-height: 24px;
	padding: 0 5px;
	text-shadow: 0 1px 0 #FFF;
	}
.event_invitees .inviteesHeading span {
	font-size: 0.9em;
	color: #999;
	}
.event_side .selectButton {
	margin-top: 15px;
	display: block;
	font-weight: bold;
	}


/* @end */
	
	
/* @group Friend Requests */
.frList {
	}
.frList li {
	margin: 0;
	padding: 8px 15px;
	border-top: 1px solid rgb(255,255,255);
	border-bottom: 1px solid rgb(233,233,233);
	opacity: 1;
	-webkit-transition: background 100ms ease-in;
	}
.frList.animate li {
	-webkit-animation-name: li_friendrequests;
	-webkit-animation-duration: 250ms;
	-webkit-animation-iteration-count: 1;
	}
.frList .user_thumb {
	background: none;
	margin-right: 10px;
	}
.frList .user_name {
	margin-top: 18px;
	display: inline-block;
	font-weight: bold;
	opacity: 1;	
	}
.frList .user_name:hover {
	color: #6684D3;
	}
.frList .user_name:active {
	color: #444;
	}
.frList .actions {
	float: right;
	}
.frList .actions .uiButton {
	margin: 14px 0 0 5px;
	}
.frList .uiButtonDisabled {
	float: right;
	}
/* @end */
	
	

/* @group Search Results */
.srHeading {
	background: #F2F2F2;
	border-bottom: solid 1px #E2E2E2;
	border-top: solid 1px #FFF;
	font-weight: bold;
	height: 24px;
	line-height: 24px;
	padding: 0 15px;
	text-shadow: 0 1px 0 #FFF;
	}
.srList {
	color: #999;
	overflow: hidden;
	-webkit-transition: all 1000ms ease-in;
	}
.srList.animate li {
	height: 0;
	}
.srList li {	
	margin: 0;
	padding: 8px 15px;
	height: 30px;
	border-top: 1px solid rgb(255,255,255);
	border-bottom: 1px solid rgb(233,233,233);
	-webkit-transition: all 100ms ease-in;
	cursor: pointer;
	overflow: hidden;
	}
.srList li:hover {
	background-color: rgb(239,242,247);
	border-top-color: rgb(255,255,255);
	border-bottom-color: rgba(149,152,167,0.4);
	color: #666;
	}
.srList li:active,
.srList li:last-child:active {
	background-image: -webkit-linear-gradient(top, rgb(209,212,217), rgb(229,232,237) 2px, rgb(239,242,247));
	border-top-color: rgba(169,172,187,1);
	border-bottom-color: rgba(149,152,167,0.1);
	}
.srList .item_thumb {
	float: left;
	margin-right: 8px;
	}
.srList .item_thumb,
.srList .item_thumb img {
	height: 30px;
	width: 30px;
	border-radius: 3px;
	}
.srList .item_name {
	display: block;
	height: 30px;
	width: 400px;
	line-height: 30px;
	overflow: hidden;
	font-weight: bold;
	white-space: nowrap;
	color: #3B5998;
	}
.srList .item_name em {
	margin-left: 5px;
	color: #AAA;
	font-style: normal;
	font-weight: normal;
	}
.srList_page .item_name,
.srList_place .item_name  {
	font-weight: bold;
	display: block;
	height: 15px;
	line-height: 15px;
	overflow: hidden;
	}
.srList .item_description {
	display: block;
	overflow: hidden;
	height: 15px;
	line-height: 15px;
	}
#content-search_results .no_results {
	overflow: hidden;
	margin: -20px 0 15px 15px;
	padding: 50px 0;
	width: 450px;
	border-bottom: solid 1px rgba(0,0,0,0.1);
	background: rgb(255,249,215);
	text-align: center;
	-webkit-transition: all 400ms ease-out;
	}
#content-search_results .no_results.animate {
	height: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	opacity: 0;
	}
#content-search_results .no_results strong {
	display: block;
	font-size: 1.4em;
	margin-bottom: 10px;
	text-shadow: 0 1px 0 #FFF;
	}
#content-search_results .no_results span {
	color: #888;
	}
	
	
	
/* @end */
	
	
	
	
/* @group Quicklist */

.qkList {
	color: #999;
	overflow: hidden;
	-webkit-transition: all 1000ms ease-in;
	}
.qkList li a {
	display: block;
	margin: 0;
	padding: 8px 15px;
	height: 30px;
	border-top: 1px solid rgb(255,255,255);
	border-bottom: 1px solid rgb(233,233,233);
	-webkit-transition: all 100ms ease-in;
	cursor: pointer;
	overflow: hidden;
	}
.qkList li a:hover {
	background-color: rgb(239,242,247);
	border-top-color: rgb(255,255,255);
	border-bottom-color: rgba(149,152,167,0.4);
	color: #666;
	}
.qkList li a:active,
.qkList li a:last-child:active {
	background-image: -webkit-linear-gradient(top, rgb(209,212,217), rgb(229,232,237) 2px, rgb(239,242,247));
	border-top-color: rgba(169,172,187,1);
	border-bottom-color: rgba(149,152,167,0.1);
	}
.qkList .item_thumb {
	float: left;
	margin-right: 8px;
	}
.qkList .item_thumb,
.qkList .item_thumb img {
	height: 30px;
	width: 30px;
	border-radius: 3px;
	}
.qkList .item_name {
	display: block;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	font-weight: bold;
	white-space: nowrap;
	color: #3B5998;
	}
.qkList .item_name em {
	margin-left: 5px;
	color: #AAA;
	font-style: normal;
	font-weight: normal;
	}

/* @end */
	
	
	
	
	
	
	

/* PERMISSIONS OVERLAY -----*/
.permissions_overlay {
	padding: 15px;
	border-radius: 10px;
	position: absolute;
	top: 0px; left: 0px; right: 0px; bottom: 0px;
	background: #fff;
	text-align: left;
}
	.permissions_overlay strong { margin-bottom: 15px; display: block; font-size: 16px; }
	.permissions_overlay .i { margin-right: 5px; display: inline-block; }
	.permissions_overlay p { margin-bottom: 15px; line-height: 16px; }
	.permissions_overlay .uiButton { }
	.permissions_overlay .cancel_text { line-height: 23px; }
	
	
.scrollbar {
	display: block;
	position: absolute;
	z-index: 2;
	top: 5px;
	right: 5px;
	bottom: 5px;
	width: 10px;
	cursor: pointer;
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 200ms ease-out;
}
.scrollbar.disabled { opacity: 0; visibility: hidden; -webkit-transition: opacity 200ms ease-out; }

.handle {
	display: block;
	position: absolute;
	z-index: 3;
	top: 0px;
	right: 0;
	width: 10px;
	height: 35px;
	min-height: 35px;
	cursor: pointer;
	border-radius: 5px;
	background: #000;
	opacity: 0.5;
	-webkit-transition: opacity 200ms ease-out;
}

.vScrollbar { position: absolute; top: 5px; right: 0px; bottom: 5px; z-index: 10; }
.vTrack { width: 20px; position: relative; }
.vThumb { background: #000; opacity: 0.5; width: 10px; position: absolute; top: 0; left: 5px; border-radius: 5px; }
